*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
    color: white;
}
.container{
    background-color: blue;
    height: 250px;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 6px;
}

.login{
    padding: 20px;
}
.login .user{
    padding-bottom: 10px;
}
.login .pass{
    padding-bottom: 10px;
}
.head{
    color: aqua;
}